/*FONTS USED IN THE CODE*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url(animation.css);


*{
    margin: 0px;
    padding: 0px;
    font-family: Dancing+Script, Arial, Helvetica, sans-serif;
}

/*NORMAL ELEMENTS*/
body{
    background-color: black;
}

p{
    color: white;
}

.headingImage{
    width: 100vw;
    height: 100vh;
}
nav{
    position: absolute;
    top: 8%;
    right: 8%;
    z-index: 1;
    cursor: default;
}
nav a:hover{
    text-decoration: underline;
    opacity: 1;
}
li{
    list-style-type: none;
    display: inline;
    padding-right: 40px;
    padding-left: 40px;
    border-right: rgba(255, 255, 255, 0.6) solid 1px;
}
li:last-child{
    padding-right: 0px;
    border: none;
}
a{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
#layer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}
.title{
    text-align: center;
    position: relative;
    font-size: 70px;
    top: 45%;
    margin: 0 auto;
    color: white;
    cursor: default;
    animation: fadeIn 1.5s forwards ease-in-out;
}

/* about me */
.content{
    padding: 100px;
}
.about_me{
    padding: 100px;
}
.profileImage{
    width: 300px;
}
.content--background--black{
    background-color: black;
}
.content__me{
    text-align: left;
    float: right;
    width: 45%;
    line-height: 2;
}
.content__me h2{
    color: white;
    cursor: default;
    font-family: Lobster, Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    animation: fadeIn 1.5s forwards ease-in-out;
}
.content__me p{
    font-size: 17px;
    font-family: Dancing+Script, Arial, Helvetica, sans-serif;
}